.ArgandDiagram {
    text-align: center;
}
.ArgandDiagram > svg {
    width: 99%;
    border: 2px solid grey;
    margin-top: 10px;
}

.ArgandDiagram > #AllInputs {
    margin-top: 1rem;
    max-height: 85%;
    max-width: 90%;
    position: absolute;
    margin: 1rem;
    padding: 1rem;
    overflow-y: auto;
}

.ArgandDiagram > div#hideInputs {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transform: rotate(90deg);
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.ArgandDiagram > div#hideInputs:hover {
    z-index: 1;
    font-size: 2.1rem;
    transition:
        border-color 0.1s,
        box-shadow 0.1s;
}

input {
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 120%;
    border: 2px solid #ccc; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 15px; /* Add some spacing */
    outline: none; /* Remove blue outline on focus */
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
}

input:focus {
    border-color: #003580; /* Darker blue border */
    box-shadow: 4px 4px rgba(0, 53, 128, 0.2); /* Subtle and lighter blue glow */
}

.no-select {
    user-select: none; /* Prevent selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
}
