.ArgandDiagram {
    text-align: center;
}
.ArgandDiagram > svg {
    width: 99%;
    border: 2px solid grey;
    border-radius: 8px;
    margin-top: 10px;
}

.ArgandDiagram > #AllInputs {
    margin-top: 1rem;
    margin-left: 2rem;
    height: 55%;
    position: absolute;
    padding: 1rem;
    overflow-y: auto;
    width: 30%;
    min-width: 100px;
    max-width: 250px;
}

.ArgandDiagram > div#hideInputs {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transform: rotate(90deg);
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.ArgandDiagram > div#hideInputs:hover {
    z-index: 1;
    font-size: 2.1rem;
    transition:
        border-color 0.1s,
        box-shadow 0.1s;
}

.ArgandDiagram > #zoomIn,
.ArgandDiagram > #zoomOut {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    border: 1px solid black;
    /* cursor: pointer; */
    width: 50px;
    border-radius: 8px;
}

.ArgandDiagram > #zoomOut {
    top: 9rem;
    font-size: 1.3rem;
}
.ArgandDiagram > #zoomIn {
    top: 6rem;
}

input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    width: 80%;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 120%;
    border: 2px solid #ccc; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Add some spacing */
    outline: none; /* Remove blue outline on focus */
    transition:
        border-color 0.2s,
        box-shadow 0.2s;
}

input:focus {
    border-color: #003580; /* Darker blue border */
    box-shadow: 4px 4px rgba(0, 53, 128, 0.2); /* Subtle and lighter blue glow */
}

.no-select {
    user-select: none; /* Prevent selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
}
